<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Quiz</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    {% if best_score is not none %}
      <h3>Best score: {{ best_score }}</h3>
    {% endif %}
    <h1>Quiz</h1>
    <form method="POST">
        {% for q in quiz %}
            <p><b>Question {{ loop.index }}:</b> {{ q.question }}</p>
            {% if q.options %}
              {% for o in q.options %}
                <label>
                  <input type="radio" name="{{ q.id }}" value="{{ o.text }}">
                  {{ o.text }}
                </label><br>
              {% endfor %}
            {% else %}
                <label>
                    <input type="text" name="{{ q.id }}">
                </label>
            {% endif %}
            <br>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
    {% if points is not none %}
      <h2>Your score: {{ points }}</h2>
    {% endif %}
    <footer>
        Made by Lija Pietryczuk
    </footer>
</body>
</html>